@model CustomerProcessViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form method="post">
        <div class="container">
            <br /><br />
            <div class="alert alert-success">Kredi Çekme İşlemi</div>
            <label>Müşteri Adı Soyadı</label>
            <input type="text" asp-for="Name" class="form-control" />
            <br />
            <label>Çekilmek İstenen Tutar</label>
            <input type="text" asp-for="Amount" />
            <br />
            <button class="btn btn-info">İşlemi Gerçekleştir</button>
    </form>

    </div>


</body>
</html>
